%tr[topic]
  %td= link_to h(topic.title), forum_topic_path(@forum, topic)
  %td.posts
    = topic.posts.count
  %td.last_post
    = topic_last_post_info topic

  - if_admin do
    %td.controls
      = inline_tb_link('Edit', "#{topic.dom_id}_edit", {:title => "Editing topic #{topic.title}", :id => "#{topic.dom_id}_edit_link"}, {:height => 100})
      = link_to_remote 'Destroy', {:url => forum_topic_url(topic.forum, topic), :confirm => 'Are you sure?', :method => :delete}, {:class=> "destroy", :id => "#{topic.dom_id}_destroy_link"}

      .hidden{:id => "#{topid.dom_id}_edit"}
        = render :partial => 'forum_topics/form', :locals => {:topic => topic}
