- list ||= @list
- sub ||= 'inbox'
- label ||= 'Inbox Messages'
- sent = params[:action] == 'sent'

%h1 Message Center
#sub_nav
  = link_to '&larr; Back to Dashboard', @p
  = link_to "Inbox", messages_path if sent
  = link_to "Sent", sent_messages_path, :class => "selected"  unless sent || @p.sent_messages.empty?
  = inline_tb_link 'New Message', "new_direct_message", {:title => "New Message"}, {:height => 380}

#comment.activity_box
  %h2= sanitize label

- if list.empty?
  No Messages
- else
  %table#messages
    %tr
      %th= sent ? "To" : "From"
      %th= "When"
      %th= "Subject"
    - list.each do |m|
      - mail_user = (@p == m.sender ? m.receiver : m.sender)
      %tr
        %td{ :class => m.unread? ? "unread" : ''}
          = link_to mail_user.f,  mail_user
        %td{ :class => m.unread? ? "unread" : ''}
          = time_ago_in_words m.created_at
        %td{ :class => m.unread? ? "unread" : ''}
          = link_to h( m.subject), message_path(m)

#new_direct_message.hidden
  = render :partial => 'messages/form', :locals => {:hide_header => true}
