- message ||= @message
- to_list ||= @to_list

#sub_nav
  = link_to '&larr; Back to Dashboard', @p
  = inline_tb_link 'Reply', "new_reply", {:title => "Reply To #{message.sender.f}"}, {:height => 380} if message && message.sender != @p
  = link_to "Inbox", messages_path
  = link_to "Sent", sent_messages_path unless @p.sent_messages.empty?

%div[message]
  %h2
    From: 
    = link_to message.sender.f, message.sender
    %br/
    When:
    = time_ago_in_words message.created_at
    %br/
    %strong
      Subject:
      = h message.subject

  .clear
  = textilize message.body

#new_reply.hidden
  = render :partial => "messages/form", :locals => {:hide_header => true}