- photos_empty = @p.photos.empty?
- friends_empty = (@p.followings + @p.friends).empty?
- messages_empty = @p.sent_messages.empty?
- profile_empty = @p.no_data?
- blog_empty = @p.blogs.empty?
- return unless photos_empty && friends_empty && messages_empty && profile_empty && blog_empty

%h2.getting_started How to Get Started

.half.left
  - if profile_empty
    .blurp
      = image_tag "blurp_profile.png", :title => "Profile Icon", :alt => "Profile Icon"
      %strong Set up your profile
      Your public profile is the way your friends will learn about you and keep up-to-date on your life. Upload a profile photo, add an "about me" connect with new and old friends.
      = link_to 'Setup my profile', edit_profile_path
    .clear

  .blurp
    <img src="/images/blurp_forum.png".left png" title="Forum Icon" alt="Forum Icon" />
    <strong>Chat in the forums!
    The forums are a great place to meet new friends and have stimulating conversations!
    = link_to 'Go to the forums', forums_path
  .clear

  - if photos_empty
    .blurp
      <img src="/images/blurp_photos.png".png left" title="Share Icon"  alt="Share Icon" />
      <strong>Share Photos
      = SITE_NAME
      allows users to upload images with captions on to their profile.  We love someone to build albums, tagging and commenting on photos for this open source project!
      = link_to 'Start Uploading Pictures', profile_photos_path(@p)
    .clear
  .clear

.half.right
  - if friends_empty
    .blurp
      = image_tag 'blurp_friends.png', :title => "Friend Icon", :alt => "Friend Icon"
      %strong Find Friends
    .clear
  - if messages_empty
    .blurp
      = image_tag "blurp_message.png", :title => "Message Icon", :alt => "Message Icon"
      %strong Message Friends
      = SITE_NAME
      allows users to upload images with captions on to their profile.  We love someone to build albums, tagging and commenting on photos!
    .clear

  - if blog_empty
    .blurp
      = image_tag "blurp_comment.png", :title => "Comment Icon", :alt => "Comment Icon"
      %strong Start Blogging!
      Your public profile is the way your friends will learn about you and keep up-to-date on your life. Upload a profile photo, add an "about me" connect with new and old friends.
      = link_to 'Get Started Blogging', profile_blogs_path(@p)
    .clear
  .clear
.clear
