%li[forum]
  .last_post
    = forum_last_post_info(forum)

  .info
    %h2=link_to h(forum.name), forum_path(forum)
    %span.details= forum_details(forum)
    =sanitize textilize(forum.description)

    - if_admin do
      = inline_tb_link('Edit', "#{forum.dom_id}_edit", {:title => "Editing forum #{forum.name}", :id => "#{forum.dom_id}_edit_link"})
      = link_to_remote 'Destroy', :url => forum, :confirm => 'Are you sure?', :method => :delete, :class=> "destroy"

      .hidden{:id => "#{forum.dom_id}_edit"}
        = render :partial => 'form', :locals => {:forum => forum}
