%h1 Editing forum

#sub_nav
  = link_to "&larr; Back to Forums", forums_path

= error_messages_for :forum

- less_form_for(@forum) do |f|
  = f.text_field :name
  = f.text_area :description

  .row.button
    = f.submit "Update"
