%h1= SITE_NAME + " Forums"

- if_admin do
  #sub_nav
    = inline_tb_link('Create a new forum', "new_forum", :title => "Creating a new forum")

#new_forum.hidden
  = render :partial => 'form'

#forum_list_header
  .last_post Last Post
  .info Forum

%ul#forums_list
  = render :partial => 'forum', :collection => @forums

- if @forums.empty?
  #no_forums_message
    No forums exist at this time.

- if_admin do
  = sortable_element('forums_list', :url => {:action => :update_positions})
  Drag forum rows to reorder.