%div[@forum]
  = link_to 'Forums', forums_path
  =h @forum.name
  %h1.forum_name=h @forum.name
  #forum_details
    = forum_details(@forum)

  #sub_nav
    - if @u
      = inline_tb_link('Start a new topic', "new_forum_topic", {:title => "Starting a new topic in #{@forum.name}", :id => "new_topic_link"}, {:height => 130, :width => 300})

      = link_to "&larr; Back to Forums", forums_path

  #new_forum_topic.hidden
    = render :partial => 'forum_topics/form'

  .forum_description
    =h @forum.description

  - if @topics.empty?
    .notice There are no topics in this forum yet.
  - else
    = will_paginate @topics
    %table.forum_topics

      %tr.labels
        %th Topic
        %th Posts
        %th Last Post
        - if_admin do
          %th Controls

      = render :partial => 'forum_topics/topic', :collection => @topics

    = will_paginate @topics
