
%div[blog]
  Posted
  = time_ago_in_words blog.created_at
  - if @p == @profile
    = link_to '(edit)', edit_profile_blog_path(@profile, blog)
    = link_to '(delete)', profile_blog_path(@profile, blog), :method => :delete

  %h1= link_to sanitize(textilize(blog.title)), profile_blog_path(@profile, blog)
  = blog_body_content blog

  #border_top
    = "Comments (#{blog.comments.size})"

  #comments
    = render :partial => 'comments/comment', :collection => blog.comments

  #new_comment
    - less_remote_form_for :comment, :url => blog_comments_path(blog, :profile_id => @profile.id), :html => { :id => "#{dom_id(blog)}_comment_form"} do |f|
      = f.text_area :comment
      To include a youtube video use: [youtube: address_of_video]
      .row.button
        = f.submit 'Add Comment', :class=>'button'
      .clear
