%h1 My Network
#sub_nav
  - if me
    = link_to("&larr; Back to #{h @profile.f}'s Profile", @profile)
  - else
    = link_to('&larr; Back to Dashboard', @p)

= render :partial => 'friends/list', :locals => { :with_friending => true, :size => nil, :type => 'friends' }
= render :partial => 'friends/list', :locals => { :with_friending => true, :size => nil, :type => 'followers' }
= render :partial => 'friends/list', :locals => { :with_friending => true, :size => nil, :type => 'following' }