%h1 Contact us

.box
  - form_tag "/contact/" do

    .row.clear
      = label_tag :form_name, "Your name:"
      = text_field_tag :name

    .row.clear
      = label_tag :form_phone, "Your phone number:"
      = text_field_tag :phone

    .row.clear
      = label_tag :form_email, "Your email:"
      = text_field_tag :email

    .row.clear
      = label_tag :form_message, "Your message or question:"
      = text_area_tag :message, '', :rows => 5, :cols => 25

  .row.button
    = submit_tag "Send"

  .clear
