- topic ||= feed_item.item

%div[feed_item]
  .left
    = image_tag('blurp_forum.png', :class => "icon_small", :title => "User Comment Icon", :alt => "User Comment Icon")
  
    = link_to h(topic.owner.f), topic.owner 
    posted
    = link_to sanitize(textilize(topic.title)), forum_topic_path(topic.forum, topic)
    in
    = link_to sanitize(textilize(topic.forum.name)), forum_path(topic.forum)
    = time_ago_in_words topic.created_at
    ago

  .right
    = x_feed_link(feed_item) if me

  .clear