- mini ||= false
- profile ||= @profile
- photos ||= @photos

- if mini
  - size ||= 8
  - photos = profile.photos.find :all, :limit => size
  - total = profile.photos.count

- unless photos.empty?
  #photo.activity_box
    %h2 Photos
    #photos.inside_box
      - photos.each do |picture|
        .image.left
          = link_to image(picture, :small), profile_photos_path(picture.profile)

  - else

    #column_l.left
    %h1= icon(profile) + "#{profile.f}'s Photos"

    #sub_nav
      = link_to '&larr; Back to Dashboard', profile_path(profile) if me
      = link_to "&larr; Back to #{h profile.f}'s profile", profile_path(profile) unless me 

    #photo_wall
      = render :partial => 'photo', :collection => @photos

      .clear
    = will_paginate @photos

    .clear

  #column_r.right
    - if me
      .right.upload_form.activity_box
        = render :partial => 'form'
