
.activity_box
  %h2 Search Results

  - @results.each do |p| 
    .search_row.left{:class => cycle('odd','even')}
    = icon p, :small 
    = link_to h(p.f), p 
    = mail_to h(p.email), p.email 
    = link_to_remote "#{ p.is_active ? 'deactivate' : 'activate' }", {:url => formatted_admin_user_path(p, 'js'), :method => :put}, {:id => p.dom_id('link')}

  .clear
  = will_paginate @results 
